name: Build Images

on:
  workflow_call:

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/nctucsunion/pastexam:frontend
            ghcr.io/nctucsunion/pastexam:frontend-${{ github.sha }}
          build-args: |
            VITE_API_BASE_URL=${{ secrets.FRONTEND_API_BASE_URL }}
            VITE_SITE_HOSTNAME=${{ secrets.FRONTEND_SITE_HOSTNAME }}
            VITE_UMAMI_SCRIPT_URL=${{ secrets.FRONTEND_UMAMI_SCRIPT_URL }}
            VITE_UMAMI_WEBSITE_ID=${{ secrets.FRONTEND_UMAMI_WEBSITE_ID }}
          cache-from: type=registry,ref=ghcr.io/nctucsunion/pastexam:frontend-buildcache
          cache-to: type=registry,ref=ghcr.io/nctucsunion/pastexam:frontend-buildcache,mode=max

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/nctucsunion/pastexam:backend
            ghcr.io/nctucsunion/pastexam:backend-${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/nctucsunion/pastexam:backend-buildcache
          cache-to: type=registry,ref=ghcr.io/nctucsunion/pastexam:backend-buildcache,mode=max
