name: Enforce PR base branch to dev

on:
  pull_request_target:
    types: [opened, edited, reopened]

jobs:
  check-branch:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: Vankka/pr-target-branch-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target: main
          exclude: dev
          change-to: dev
          comment: |
            PRs in this repository must target `dev`, not `main`.
            The base branch has been automatically changed to `dev`. Please verify there are no merge conflicts.
